.vscode
.vs/
~$*
*~

.sass-cache/
*.css.map
*.sass.map
*.scss.map

__pycache__/
*.py[cod]
*$py.class

.flaskenv
instance/
.webassets-cache

.python-version
.Python

ENV
env
env/
.env
env.bak/
VENV
venv
venv/
.venv
venv.bak/

pip-delete-this-directory.txt
pip-log.txt

.cache
.hypothesis/
.pytest_cache/
nosetests.xml
