/*-------------------------------- VARIABLES --------------------------------*/
$site-blue: #0E5F76 ;

/*-------------------------------- GLOBAL SETTINGS --------------------------------*/

body {
    background-image: url("/static/img/background.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

main {
    flex: 1 0 auto;
}

.site-blue-text {
    color: $site-blue;
}

.site-blue-bg {
    background-color: $site-blue;
}

.text-transform-none {
    text-transform: none;
}

.bold {
    font-weight: bold;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

i {
    vertical-align: center;
}

ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: $site-blue;
}

.btn {
    margin: 10px auto;
}

/*-------------------------------- CONTAINER SETTINGS --------------------------------*/

.container-main {
    width: 90vw;
    margin: 80px auto;
}

.container-70 {
    width: 70vw;
    margin: 80px auto;
}

.container-nav {
    width: 95vw;
    margin: auto;
}

/*-------------------------------- NAVBAR SETTINGS --------------------------------*/

nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: $site-blue;
}

nav img {
    width: 5em;
}

nav .brand-logo {
    font-size: 2.6rem;
}

#nav-mobile a {
    color: white;
}

ul#mobile-demo {
    background-color: $site-blue;
}

.sidenav li a {
    color: white;
}

/*-------------------------------- CARD SETTINGS --------------------------------*/

.card {
    border-radius: 20px;
    padding: 1em;
}

.card .card-image img {
    object-fit: cover;
    height: 35vh;
}

.card .card-image .card-title {
    background-color: rgba(255, 255, 255, 0.8);
    color: $site-blue;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 5px;
}

.card-action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
    color: $site-blue;
}

/*-------------------------------- PAGINATION SETTINGS --------------------------------*/

.pagination li {
    display: inline-block;
    font-size: 1.2rem;
}

.pagination li.active {
    background-color: $site-blue;
}

.pagination li.active a {
    color: white;
}

/*-------------------------------- HOMEPAGE SETTINGS --------------------------------*/

.landing-section {
    height: 50vh;
}

.carousel {
    border-radius: 1em;
    border: 7px solid $site-blue;
    margin-bottom: 20px;
}

.carousel .btn {
    color: white;
    background-color: $site-blue;
}

.carousel .carousel-item img {
    object-fit: cover;
    height: 60vh;
}

.carousel .carousel-fixed-item {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

/*-------------------------------- RECIPE DETAIL SETTINGS --------------------------------*/

#ingredients ul {
    padding: 4% 7%;
    text-align: justify;
}

#prepsteps ol {
    padding: 4% 7%;
    text-align: justify;
}

.tiny-image {
    width: 50px;
    height: 50px;
}

#recipe-summary .card-image img {
    object-fit: cover;
    height: 50vh;
}

/*-------------------------------- PROFILE SETTINGS --------------------------------*/

.tabs .tab a {
    color: $site-blue;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: $site-blue;
    background-color: rgba(14, 95, 118, 0.2);
}

.tabs .indicator {
    background-color: $site-blue;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(14, 95, 118, 0.2);
}

/*-------------------------------- LOGIN PAGE SETTINGS --------------------------------*/

#login-form .row {
    margin-bottom: 0px;
}

/*-------------------------------- SIGNUP PAGE SETTINGS --------------------------------*/

#sign-up-form .row {
    margin-bottom: 0px;
}

/*-------------------------------- FOOTER SETTINGS --------------------------------*/

#footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "copyright icons";
    height: 50px;
    width: 100%;
    bottom: 0px;
    z-index: 10;
    padding: 0px;
    background-color: $site-blue;
    color: white;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer p {
    grid-area: copyright;
    margin: 14px 0px 10px 50px;
}

.social-icons {
    grid-area: icons;
    justify-items: end;
    font-size: 2rem;
    text-align: right;
}

/*-------------------------------- MEDIA QUERIES --------------------------------*/

@media (max-width: 600px) {
    

    ::placeholder {
        font-size: 12px;
    }

    .container-70 {
        width: 90vw;
    }

    #recipe-summary .card-image img {
        object-fit: cover;
        height: 35vh;
    }

    .landing-section {
        margin: 60px 10px 20px 10px;
    }

    .carousel {
        height: 50vh !important;
    }

    #footer p {
        margin: 14px 0px 10px 10px;
    }

    #footer .container {
        margin: 3px 0px 0px 0px;
    }
}