{% extends "base.html" %}
{% block content %}
<div class="container-main">
    <h5>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </h5>

    <h3>Add Recipe</h3>
    <div class="card">
        <div class="row">
            <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fas fa-pepper-hot prefix"></i>
                        <select id="cuisineType" name="cuisineType" required>
                            <option value="" disabled selected>Choose Cuisine</option>
                            {% for item in cuisine %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                        <label for="cuisineType">Cuisine Type</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fas fa-utensils prefix"></i>
                        <select id="courseType" name="courseType" class="validate" required>
                            <option value="" disabled selected>Choose Course</option>
                            {% for item in course %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                        <label for="courseType">Course Type</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-file-alt prefix"></i>
                        <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-file-alt prefix"></i>
                        <input id="recipeDesc" name="recipeDesc" type="text" class="validate" required>
                        <label for="recipeDesc">Recipe Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-list prefix"></i>
                        <textarea name="ingredients" id="ingredients" class="materialize-textarea validate"
                            placeholder="Please enter the recipe ingredients, each on a new line." required></textarea>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix"></i>
                        <textarea name="prepSteps" id="prepSteps" class="materialize-textarea validate"
                            placeholder="What are the steps to make this recipe? Add each on a new line." required></textarea>
                        <label for="prepSteps">Preparation Steps</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l3">
                        <i class="fas fa-hourglass-start prefix"></i>
                        <input id="prepTime" name="prepTime" type="number" class="validate" required>
                        <label for="prepTime">Prep Time (mins)</label>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <i class="fas fa-hourglass-end prefix"></i>
                        <input id="cookTime" name="cookTime" type="number" class="validate" required>
                        <label for="cookTime">Cook Time (mins)</label>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <i class="fas fa-thermometer-three-quarters prefix"></i>
                        <input id="temp" name="temp" type="number" class="validate" required>
                        <label for="temp">Temp (°C)</label>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <select id="allergens" name="allergens" multiple>
                            <option value="" disabled>List any allergens</option>
                            {% for item in allergens %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                        <label for="allergens">Possible Allergens</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fas fa-images prefix"></i>
                        <input id="imageUrl" name="imageUrl" type="text" class="validate"
                            placeholder="Please provide the link to your recipe image.">
                        <label for="imageUrl">Recipe Image</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light col offset-s1" type="submit" name="action">Add Recipe!
                        <i class="material-icons right">playlist_add</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</div>