{% extends "base.html" %}
{% block content %}

<div class="card container-70">
    <div class="row">
        <h3 class="center-align">Change Password</h3>

        <form action="{{ url_for('change_password', username = session.user) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12 offset-m3 m6 offset-l3 l6">
                    <i class="fas fa-key prefix"></i>
                    <input id="old-password" name="old-password" type="password" class="validate" required>
                    <label for="old-password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 offset-m3 m6 offset-l3 l6">
                    <i class="fas fa-key prefix"></i>
                    <input id="new-password" name="new-password" type="password" class="validate" required>
                    <label for="new-password">New Password</label>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="input-field col s12 offset-m3 m6 offset-l3 l6">
            <i class="fas fa-key prefix"></i>
            <input id="password-check" name="password-check" type="password" class="validate" required>
            <label for="password-check">Re-enter New Password</label>
        </div>
    </div>
    <div class="row">
        <h5 class="red-text col s12 offset-m3 m6 offset-l3 l6">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light col s12 offset-m1 m4 offset-l2 l3" type="submit"
            name="action">Change Password
            <i class="material-icons left">check_circle</i>
        </button>
        <a href="#!" class="modal-close waves-effect waves-light btn red col s12 offset-m2 m4 offset-l2 l3"><i
            class="far fa-window-close material-icons left"></i> Cancel</a>
    </div>
    </form>
</div>
</div>

{% endblock %}