{% extends "base.html" %}
{% block content %}

{% set args = request.args.get %}

<div class="card center-align container-70">
    <div class="row center-align">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4 class="red-text">
            {{ message }}
        </h4>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <h3 class="bold site-blue-text">{{ username }}'s Profile</h3>
    <div class="divider site-blue-bg"></div>
    <br>
    <img src="{{ image }}" alt="Profile Picture">
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn site-blue-bg"
                href="{{ url_for('change_password', username = session.user) }}">Change
                Password</a>
            <a class="waves-effect waves-light btn red modal-trigger" href="#modal-delete" {% set modal = True %}>Delete
                Account</a>
        </div>
    </div>
</div>

<div class="row container-main">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab tabs-fixed-width col s6 bold site-blue-text"><a class="active" href="#favs">Favourites</a>
            </li>
            <li class="tab tabs-fixed-width col s6 bold site-blue-text"><a href="#ownRecipes">My Recipes</a></li>
        </ul>
    </div>
    <div id="favs" class="row">
        {% for recipe in favs %}
        {% include "partials/_cards.html" %}
        {% endfor %}
        <div class="row">
            <ul class="pagination center">
                {% if fav_pages %}
                <li {% if not request.args or not args('page') or args('page')=='1' %} class="disabled" {% endif %}><a
                        href="{{ url_for('profile', username = session.user, page=fav_previous_page, _anchor='favs') }}"><i
                            class="material-icons">chevron_left</i></a></li>
                {% for page in fav_pages %}
                <li {% if args('page') %}{% if page|string in args('page') %} class="active waves-effect waves-red"
                    {% endif %}{% elif page==1 %} class="active waves-effect waves-red" {% endif %}class="waves-effect">
                    <a
                        href="{{ url_for('profile', username = session.user, page=page, _anchor='favs') }}">{{ loop.index }}</a>
                </li>
                {% endfor %}
                <li {% if args('page')==pages|length|string %} class="disabled" {% endif %} class="waves-effect"><a
                        href="{{ url_for('profile', username = session.user, page=fav_next_page, _anchor='favs') }}"><i
                            class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="ownRecipes" class="row">
        {% for recipe in own_rec %}
        {% include "partials/_cards.html" %}
        {% endfor %}
        <div class="row">
            <ul class="pagination center">
                {% if own_pages %}
                <li {% if not request.args or not args('page') or args('page')=='1' %} class="disabled" {% endif %}><a
                        href="{{ url_for('profile', username = session.user, page=own_previous_page, _anchor='ownRecipes') }}"><i
                            class="material-icons">chevron_left</i></a></li>
                {% for page in own_pages %}
                <li {% if args('page') %}{% if page|string in args('page') %} class="active waves-effect waves-red"
                    {% endif %}{% elif page==1 %} class="active waves-effect waves-red" {% endif %}class="waves-effect">
                    <a
                        href="{{ url_for('profile', username = session.user, page=page, _anchor='ownRecipes') }}">{{ loop.index }}</a>
                </li>
                {% endfor %}
                <li {% if args('page')==pages|length|string %} class="disabled" {% endif %} class="waves-effect"><a
                        href="{{ url_for('profile', username = session.user, page=own_next_page, _anchor='ownRecipes') }}"><i
                            class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if modal %}
<!-- Modal Structure -->
<div id="modal-delete" class="modal">
    <div class="modal-content center-align">
        <h4>DELETE ACCOUNT</h4>
        <h5>But we'll miss you! Are you sure?</h5>
        <h6>Enter your password to confirm:</h6>
        <div class="row">
            <form action="{{ url_for('delete_account', username = session.user) }}" method="POST">
                <div class="input-field col s12 offset-m3 m6 offset-l3 l6">
                    <i class="fas fa-key prefix"></i>
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                    <p>
                        <label>
                            <input id="del-recipes" name="del-recipes" type="checkbox" />
                            <span>Also delete my recipes <em>(not recommended)</em></span>
                        </label>
                    </p>
                    <button class="btn waves-effect red" name="action" type="submit"><i
                            class="fas fa-user-times material-icons left"></i> Confirm Delete
                    </button>
                    <a href="#!" class="modal-close waves-effect waves-light btn"><i
                            class="far fa-window-close material-icons left"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}