{% extends "base.html" %}
{% block content %}


<div class="container-main">
    <h5>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </h5>

    <h3>Profile: {{ username }}</h3>
    <img src="{{ image }}" alt="">

</div>
<div class="container-main col s3">
    <a class="waves-effect waves-light btn" href="{{ url_for('change_password', username = session.user) }}">Change
        Password</a>
    <a class="waves-effect waves-light btn red modal-trigger" href="#modal-delete" {% set modal = True %}>Delete
        Account</a>
</div>
<div class="card row container-main">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab tabs-fixed-width col s6"><a class="active" href="#favs">Favourites</a></li>
            <li class="tab tabs-fixed-width col s6"><a href="#ownRecipes">My Recipes</a></li>
        </ul>
    </div>
    <div id="favs" class="row">
        {% for recipe in favs %}
        {% include "partials/_cards.html" %}
        {% endfor %}
    </div>
    <div id="ownRecipes" class="row">
        {% for recipe in own_rec %}
        {% include "partials/_cards.html" %}
        {% endfor %}
    </div>
</div>

{% if modal %}
<!-- Modal Structure -->
<div id="modal-delete" class="modal">
    <div class="modal-content center-align">
        <h4>DELETE ACCOUNT</h4>
        <h5>But we'll miss you! Are you sure?</h5>
        <h6>Enter your password to confirm:</h6>
        <div class="row">
            <form action="{{ url_for('delete_account', username = session.user) }}" method="POST">
                <div class="input-field col s12 offset-m3 m6 offset-l3 l6">
                    <i class="fas fa-key prefix"></i>
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                    <p>
                        <label>
                            <input id="del-recipes" name="del-recipes" type="checkbox" />
                            <span>Also delete my recipes <em>(not recommended)</em></span>
                        </label>
                    </p>
                    <button class="btn waves-effect red" name="action" type="submit"><i
                            class="fas fa-user-times material-icons left"></i> Confirm Delete
                    </button>
                    <a href="#!" class="modal-close waves-effect waves-light btn"><i
                            class="far fa-window-close material-icons left"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}