<div class="col s12 m6 l3">
    <div class="card hoverable sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
            {% if recipe.imgUrl %}
            <img class="activator" src="{{ recipe.imgUrl }}">
            {% else %}
            <img class="activator" src="{{ url_for('static', filename='img/no_img.jpg') }}">
            {% endif %}
            <span class="card-title">{{ recipe.recipeName }}</span>
        </div>
        <div class="card-action">
            <a class="site-blue-text bold" href="{{ url_for('recipes.recipe_detail', recipe_id=recipe._id) }}">View Recipe</a>
            <p><i class="fas fa-eye"></i> {{ recipe.views }}</p>
            <p><i class="fas fa-heart red-text"></i> {{ recipe.favourites }}</p>
        </div>
        <div class="card-reveal">
            <h5 class="card-title center-align">
                <i class="fas fa-times material-icons right"></i>
                <span class="grey-text text-darken-4 bold">{{ recipe.recipeName }}
                </span>
            </h5>
            <p>{{ recipe.recipeDesc }}</p>
        </div>
    </div>
</div>
