<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#0E5F76">
    <meta name="Description" content="Developed by: Chris Quinn, Site: An online recipe cookbook">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <title>2BN Savoury Sensations!</title>
</head>

<body>

    <header>
        {% include "partials/_nav.html" %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer" class="page-footer">
        {% include "partials/_footer.html" %}
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>
