{% extends "base.html" %}
{% block content %}

<div class="container-main landing-section">
    <div class="row">
        <div class="col s12 m5 welcome-text">
            <div class="card center-align">
                <h4 class="bold site-blue-text">Welcome to<br>2BN Savoury Sensations!</h4>
                <p>There’s a time and place for good food, and here you’ll find everything that you need to make
                    mouth-watering meals with the minimum of fuss!</p>
                <p>Feel free to <a class="bold site-blue-text" href="{{ url_for('recipes.show_recipes') }}">browse</a> our delicious recipes,
                    or <a class="bold site-blue-text" href="{{ url_for('users.signup') }}">sign-up</a> and add your own culinary creations.
                </p>
                <p>Already a member? <a class="bold site-blue-text" href="{{ url_for('users.login') }}">Log-in</a> and find your favourites waiting for you.</p>
                <p>Come on in and get cooking!</p>
            </div>
        </div>
        <div class="col s12 m6 offset-m1 recipe-carousel">
            <div class="carousel carousel-slider center">
                {% for recipe in slideshow %}
                <div class="carousel-item">
                    <div class="carousel-fixed-item center">
                        <h5 class="bold site-blue-text">{{ recipe.recipeName }}</h5>
                        <p class="truncate bold">{{ recipe.recipeDesc }}</p>
                        <a class="btn waves-effect darken-text-2"
                            href="{{ url_for('recipes.recipe_detail', recipe_id=recipe._id) }}">View Recipe</a>
                    </div>
                    {% if recipe.imgUrl %}
                    <img class="activator" src="{{ recipe.imgUrl }}">
                    {% else %}
                    <img class="activator" src="{{ url_for('static', filename='img/no_img.jpg') }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
