{% extends "base.html" %}
{% block content %}

<div class="card center-align container-70">
    <div class="row center-align">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4 class="red-text">
            {{ message }}
        </h4>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <h3 class="bold site-blue-text">{{ username }}'s Profile</h3>
    <div class="divider site-blue-bg"></div>
    <br>
    <img src="{{ image }}" alt="Profile Picture">
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn site-blue-bg"
                href="{{ url_for('users.change_password', username = session.user) }}">Change
                Password</a>
            <a class="waves-effect waves-light btn red modal-trigger" href="#modal-delete" {% set modal = True %}>Delete
                Account</a>
        </div>
    </div>
</div>

<div class="row container-main white">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s6 bold site-blue-text"><a class="active" href="#favs">Favourites</a>
            </li>
            <li class="tab col s6 bold site-blue-text"><a href="#ownRecipes">My Recipes</a></li>
        </ul>
    <div id="favs" class="row">
        {% for recipe in favs %}
            {% include "partials/_cards.html" %}
        {% else %}
            <h5 class="site-blue-text bold center-align"><a href="{{ url_for('recipes.show_recipes') }}">Browse our recipes</a>, save everything that looks yummy, and it will appear here for you!</h5>
        {% endfor %}
    </div>
    <div id="ownRecipes" class="row">
        {% for recipe in own_rec %}
            {% include "partials/_cards.html" %}
        {% else %}
            <h5 class="site-blue-text bold center-align">This is where you'll see all of the tasty creations you've shared with everyone!</h5>
        {% endfor %}
    </div>
</div>

{% if modal %}
<!-- Modal Structure -->
<div id="modal-delete" class="modal">
    <div class="modal-content center-align">
        <h4 class="red-text bold">DELETE ACCOUNT</h4>
        <h5>But we'll miss you! Are you sure?</h5>
        <h6>Enter your password to confirm:</h6>
        <div class="row">
            <form action="{{ url_for('users.delete_account', username = session.user) }}" method="POST">
                <div class="input-field col s12 offset-m3 m6 offset-l3 l6">
                    <i class="fas fa-key prefix"></i>
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                    <p>
                        <label>
                            <input id="del-recipes" name="del-recipes" type="checkbox" />
                            <span>Also delete my recipes <em>(not recommended)</em></span>
                        </label>
                    </p>
                    <button class="btn waves-effect red" name="action" type="submit"><i
                            class="fas fa-user-times material-icons left"></i> Confirm Delete
                    </button>
                    <a href="#!" class="modal-close waves-effect waves-light btn"><i
                            class="far fa-window-close material-icons left"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
