{% extends "base.html" %}
{% block content %}

{% set args = request.args.get %}

<div class="container-main">
    <div class="row center-align">
        <h3 class="bold site-blue-text">All Recipes</h3>
        {% if total_recipes|string %}
        <h6 class="bold">Showing {{ (page * 8) - 7 }} - {{ count }} of {{ total_recipes }} recipes</h6>
        {% else %}
        <h5></h5>
        {% endif %}
        <div class="input-field col s12 offset-l5 l2">
            <select id="sort_by" name="sort_by" aria-label="Sort By:">
                <option value="" disabled selected>Sort by:</option>
                <option value="sort=views&order=-1">Views</option>
                <option value="sort=recipeName&order=1">Name</option>
                <option value="sort=favourites&order=-1">Favourites</option>
            </select>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        {% include "partials/_cards.html" %}
        {% endfor %}
    </div>
    <div>
        <ul class="pagination center">
            {% if pages %}
            <li {% if not request.args or not args('page') or args('page')=='1' %} class="disabled" {% endif %}><a
                    href="{{ url_for('recipes.show_recipes', sort=args('sort'), order=args('order'), page=previous_page) }}"><i
                        class="material-icons">chevron_left</i></a></li>
            {% for page in pages %}
            <li {% if args('page') %}{% if page|string in args('page') %} class="active waves-effect waves-red"
                {% endif %}{% elif page==1 %} class="active waves-effect waves-red" {% endif %}class="waves-effect">
                <a
                    href="{{ url_for('recipes.show_recipes', sort=args('sort'), order=args('order'), page=page) }}">{{ loop.index }}</a>
            </li>
            {% endfor %}
            <li {% if args('page')==pages|length|string %} class="disabled" {% endif %} class="waves-effect"><a
                    href="{{ url_for('recipes.show_recipes', sort=args('sort'), order=args('order'), page=next_page) }}"><i
                        class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
